.cap{
    background: url("https://www.askideas.com/media/78/Adorable-Pink-Flowers-Field-Picture.jpg");    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container{
    margin-top : 95px;
    width: 35%;
    margin-bottom:  470px;
    margin-right: 32.5%;
    margin-left: 32.5%;
    /*border: 2px solid orange;*/
    
    justify-content: center;
    border-radius: 50px;
    background-color: white;
    z-index: 1;
}
.overlay{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
}
input{
    margin-left: 10%; 
    margin-right: 10%; 
    line-height: 2px;
    margin-top: 5px;
    padding-left: 5%;
 
}
.lab,.lab1{
    padding-left: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    
    
}
h2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}
.inp1,.inp{
    width: 80%;
    height: 50px;
    border-radius: 100px;

}
.butt{
    width: 80%;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10%;
    background-color: #F44336;
    outline: 0;
    color: white;
    
}
button:focus {outline:0;}

p{
    text-align: center;
    padding-right: 45px;
    font-weight: bold;
    padding-bottom: 50px;
    color: orangered
}
#two{
    width: 20px
}

@media(max-width: 600px){
    .container{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
} 