<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Page
        </title>
        <style>
         
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./login.css" style="text/css">
        <link rel="stylesheet" href="./response.css" style="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <div>
                 {{{body}}}
            </div>

        </div>
       
    </body>
</html>